button {
    height: 100px;
    width: 100px;
    font-size: 2em ;
    font-weight: bolder;
    border-radius: 15px;
}

.clickable {
	cursor: pointer;
}

.no-clickable {
	cursor: not-allowed;
}

.playerX {
    color: #9ac72f ;
}

.player0 {
   color: #fc7900;
}